.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  z-index: 1000;

  background: rgba(5, 8, 13, 0.92);
  backdrop-filter: blur(12px);

  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.navbar-container {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
  padding: 0 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  color: #ffffff;
  text-decoration: none;

  font-size: 25px;
  font-weight: 800;
  letter-spacing: 3px;
}

.navbar-logo span {
  color: #00e5ff;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 38px;
}

.nav-links a {
  position: relative;

  color: #aeb7c4;
  text-decoration: none;

  font-size: 14px;
  font-weight: 500;

  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #ffffff;
}

.nav-links a.active {
  color: #ffffff;
}

.nav-links a.active::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -10px;

  width: 100%;
  height: 2px;

  background: #00e5ff;

  box-shadow: 0 0 8px rgba(0, 229, 255, 0.7);
}

.nav-contact {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 12px 20px;

  background: #00e5ff;
  color: #05080d;

  text-decoration: none;

  font-size: 14px;
  font-weight: 700;

  transition: 0.3s ease;
}

.nav-contact span {
  font-size: 18px;
}

.nav-contact:hover {
  background: #ffffff;
  transform: translateY(-2px);
}

@media (max-width: 800px) {

  .navbar-container {
    padding: 0 20px;
  }

  .nav-links {
    display: none;
  }

  .navbar-logo {
    font-size: 21px;
  }

}